@page "/Login"
@using DodoPlanner.Services
@inject SqlTdListService tdlistservice
@model DodoPlanner.Pages.LoginPages.LoginModel
@{
    ViewData["Title"] = "Login page";
}

<center>
<div>
    @Model.Message
</div>
<form method="post">
    <br />
    <img src="~/data/imgs/dodologo.png" height="200"/>
    <br /><br />
    <div class="form-group">
        <label asp-for="UserName" class="col-form-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="UserName" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-form-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Password" />
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm">Log in</button>
    </div>
    <a href="/CreateAccount" >Create Account</a>
</form>
</center>


