@page "/Logout2"
@model DodoPlanner.Pages.LoginPages.SignOutModel

@{
    ViewData["Title"] = "Logout page";
}

<form method="post" class="input-group">
    <button class="btn btn-outline-danger">Complete Sign Out</button>
</form>
