@using DodoPlanner.Services
@using DodoPlanner.Models
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Components.Web
@using DodoPlanner.Pages
@inject SqlTdListService tdlistservice
<center>
    <br />
    <img src="/data/imgs/dodologo.png" height="200" />
    <br /><br />
    <h1>Create Account</h1>
    <br /><br />
    <p>Username </p>
    <div class="input-group" style="width: 75%">
        <input class="form-control" @bind="newusername" />
    </div>
    <br />
    <p>Password </p>
    <div class="input-group" style="width: 75%">
        <input type="password" class="form-control" @bind="newpassword" />
    </div>
    <br />
    <div  class="input-group"style="width: 50%; text-align:center">
        <button class="btn btn-outline-primary" style="align-content:center" @onclick="(e => CreateAcc())">Create Account</button>
    </div>


</center>
@code {

    public string newusername { get; set; }
    public string newpassword { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    void CreateAcc()
    {
        tdlistservice.createAccount(newusername, newpassword);
        newpassword = string.Empty;
        newusername = string.Empty;
        NavigationManager.NavigateTo("/Login", forceLoad: true);
    }

}
